@import '../../sass/utils/variables';
 
.about{
    min-height: calc(100vh - 40px);
}

.about-main {
  width: $main-width;
  margin: $main-margin;
  

  &_collapse {
    margin: $collapse-margin;
  }
}