@import '../../sass/utils/variables';
 
.about{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 40px);
}

.about-main {
  width: $main-width;
  margin: $main-margin;
  flex-grow: 1;
}