$color-primary: #FD6060;
$color-background: #f7f7f7;
$color-accent: rgba(63,106,202,.08);
$color-accent-dark: rgba(46,81,157,.08);

$main-width: 95%;
$main-margin: 0 auto;
$collapse-margin: 40px auto;

