    
    .card {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform .2s ease-in-out;
        will-change: transform
    }
    