$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


@mixin for-tablet-up {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}


@import '../../sass/utils/variables.scss';

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(147deg, transparent 0%, transparent 8%, $color-accent 8%, $color-accent 46%, transparent 46%, transparent 100%), linear-gradient(107deg, transparent 0%, transparent 21%, $color-accent 21%, $color-accent 53%, transparent 53%, transparent 100%), linear-gradient(288deg, transparent 0%, transparent 35%, $color-accent 35%, $color-accent-dark 91%, transparent 91%, transparent 100%), linear-gradient(90deg, $color-primary, $color-primary);
  width: 100%;
}

.collapse-container {
  padding: 0 15px;
  border-radius: 10px;
  transition: height 0.3s ease;
}

.collapse {
  background-color: $color-background;
  border-radius: 5px;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: clamp(16px, 2vw, 20px);
    padding: 10px 15px;
    cursor: pointer;


    @include for-tablet-up {
      font-size: 18px; 
    }
  }

  
  @include for-desktop-up {
    padding: 20px; 
  }
}

.arrow {
  transition: all .2s ease-in-out;
  transform: rotate(180deg);

  
  @include for-tablet-up {
    transform: rotate(0deg); 
  }
}