@import '../../sass/utils/variables.scss';

.collapse-container {
  padding: 0 15px;
  margin: 40px auto;
}

.collapse {
  background-color: $color-background;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 500;
    font-size: clamp(16px, 2vw, 20px);
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    visibility: visible;
    opacity: 1;
    height: auto;
    padding: 10px;
    letter-spacing: 1px;
    color: $color-primary;
    font-size: clamp(14px, 1.8vw, 18px);
    transition: visibility .5s ease-in-out, opacity .5s ease-in-out, height .2s ease-in-out;
  }

  p {
    color: #FF6060;
  }
}

.arrow {
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(2.0);
  }
}

@media (min-width: 768px) {
  .collapse-container {
    margin: 60px auto;
  }

  .collapse-title {
    
    font-size: 24px;
  }
}