.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  
    img {
      height: 60%;
    }
  }
  
  .nav_list {
    display: flex;
    gap: 50px;
    color: #a61c33;
    font-size: clamp(16px, 2.5vw, 24px);
  
    li {
      list-style: none;
  
      &.nav_list_item_active {
        position: relative;
        color: #a61c33;
        transition: all .2s ease-in-out;
        text-decoration: underline solid #a61c33;
      }
    }
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }