.navbar {
  width: 100%;

  .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
  }

  .navbar-links {
      list-style: none;
      display: flex;
      gap: 50px;

      a {
          display: flex;
          font-family: Montserrat;
          font-style: normal;
          font-size: clamp(16px, 2.5vw, 24px); 
          text-decoration: none;
          color: #000; 

          
          &:hover {
              color: #FD6060;
              text-decoration: underline; 
          }

          &.active {
              color: #000;

              &:hover {
                color: #FD6060;
                text-decoration: underline;
              }
          }
      }
  }
}