.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    max-width: 1240px;
  
    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 20px;
    }
  
    .navbar-links {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin-left: auto;
      padding: 0;
  
      a {
        display: flex;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        text-decoration: none;
        color: #000;
        margin-left: 20px;
  
        &:hover {
          color: #000;
          text-decoration: underline;
        }
  
        &.active {
          color: #000;
  
          &:hover {
            color: #000;
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    .navbar .navbar-links a {
      font-size: 24px;
    }
  }