.ListingDetails_wrapper {
    width: 100%;
    max-width: 1240px;
    margin: auto;
}

main.ListingDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    margin: auto;
    overflow: hidden;
    height: 439px;


    .ListingDetails-content {
        width: 100%;
        position: relative;
        padding: 20px;

        &-infos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            h1, p, .ville {
                margin: 0;
            }

            .ville {
                display: flex;
                gap: 10px;
            }
        }

        &-hote {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            transform: translate(310px, -110px);


            &-name {
                display: flex;
                align-items: center;
                gap: 10px;

                .imgHote {
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                }
            }

        .ListingDetails-content-hote-stars {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -300px;
            top: 70px;

            .rating-container {
                transform: translate(80px, -18px);
            }

        }
    }
}

    .ListingDetails-collapse {
        display: flex;
        width: 100%;
        max-width: 1240px;
        position: absolute;
        top: 780px;

        .collapse.description {
            width: 582px;
            height: 52px;
            position: relative;
            left: -5px;
        }

        .collapse.équipements {
            width: 582px;
            height: 52px;
            position: relative;
            left: 10px;
        }
    }
}