.banner-about {
    height: 220px;
    width: 100%;
    border-radius: 25px;
    color: #fff;
    font-size: clamp(18px, 3vw, 48px);
    font-weight: 500;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
}

.banner-accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/rocher.png");
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 220px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 25px;
    width: 100%;
    max-width: 1240px;

    h2 {
        color: #fff;
        font-size: clamp(18px, 4vw, 48px);
        font-weight: 500;
    }
}

@media (min-width: 768px) {
    .banner-accueil {
        flex-direction: row;
        margin: 40px auto;
        
    }
}